<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
<div class="media">
    <div class="media-left media-middle">
        <img src="/Content/Images/fox.png" alt="Красивый лис" class="pull-left">
    </div>
    <div class="media-body">
        <h1>We are sorry. Page you are looking for doesn't exist.</h1>
    </div>
</div>


</body>
</html>
