@{
    ViewBag.Title = "My Lots";
    TempData["Controller"] = "Profile";
}

<div class="col-xs-12 col-md-4 col-lg-2">
    @{Html.RenderAction("CategoriesMenu", "Home");}
</div>

<div class="col-lg-10 container body-content" id="lots">
    @Html.Action("GetLots", "Profile", new { id = 0 })
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.list-group-item').click(function (event) {
                event.preventDefault();

                $('.active').removeClass('active');
                $(this).addClass('active');

                var url = $(this).attr('href');
                $.post(url, function (response) {
                    $('#lots').html(response);
                });
            });
        });
    </script>
}
